<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<div class="row">
	  	<div class="col-md-8 col-lg-8">
	  		<h1 class="panel-title">Lista podstron</h1>
	  	</div>
	  	<div class="col-md-4 col-lg-4">
		  	<%= link_to(new_admin_page_path, class: "btn btn-success pull-right") do %>
		  		<i class="fa fa-plus-square"></i> Dodaj nową podstronę
		  	<% end %>
	  	</div>
  	</div>
  </div>

  <!-- List group -->
<table class="table table-hover table-condensed table-bordered PagesList">
        <tbody>
        <% @pages.each_with_index do |page, index| %>
          <tr>
            <td class="lp"><%= index+1 %></td>
            <td><%= link_to page.title, edit_admin_page_url(page), :class => "btn" %></td>
            <td class="in_menu"><% if page.in_menu %> <span class="btn"><i class="fa fa-list"></i></span> <% end %></td>
            <td class="actions">
              <%= link_to(edit_admin_page_url(page), :class => "btn btn-success btn-sm") do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            	<a class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
            	<a class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
</div>
