<h1>Nowa podstrona</h1>
<div class="row">
	<input class="form-control input-lg" type="text" placeholder="Tytuł podstrony">
</div>
<div class="row">
	<div class="col-md-8 col-lg-8">
		<textarea class="tinymce"></textarea>
	</div>
	<div class="col-md-4">
		opcje
	</div>
</div>
<div class="row">
	<button class="btn btn-success pull-right" type="submit"><i class="fa fa-floppy-o"></i> Zapisz</button>
	<a href="" class="btn btn-default pull-right"><i class="fa fa-reply"></i> Poniechaj</a>
</div>